
/* for the bildaufbau */
body { visibility: hidden; }

/* no scrollbars for the map */
body { overflow: hidden; }

/* no blue i386 background */
body, #wrap386, #bar386 {
    background-color: #000;
}

/* fix menu position */
.open > .dropdown-menu {
    top: 40px;
}

/* reset i386 contrast */
img {
  -webkit-filter: contrast(100%);
     -moz-filter: contrast(100%);
      -ms-filter: contrast(100%);
       -o-filter: contrast(100%);
          filter: contrast(100%);
}

.widget-images img {
    max-width: 170px;
    max-height: 130px;
    margin: 10px;
}

.filterwindow {
    white-space: nowrap;
    height: 126px;
    overflow: auto;
}

.map {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #021019;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.80;
    opacity: 0.80;
    filter: alpha(opacity=80);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #232323;
}

.mapael .zoomButton {
    display: none;
}

.widget {
    position: absolute;
    width: 300px;
}

.widget-dns {
    left: 20px;
    top: 40px;
    width: 500px;
}

.widget-connections {
    left: 20px;
    top: 230px;
    width: 500px;
}

.widget-cookies {
    right: 20px;
    top: 40px;
}

.widget-forms {
    right: 20px;
    top: 230px;
}

.widget-passwords {
    right: 20px;
    top: 420px;
}

.widget-urls {
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 212px;
}

.widget-images {
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 212px;
}

.widget .head {
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #fff;
    background-color: rgba(22, 87, 155, 0.6);
    border-top: 1px solid #4bb5ec;
    border-left: 1px solid #4bb5ec;
    border-right: 1px solid #4bb5ec;
    padding: 5px 10px 5px;
    border-radius: 5px 5px 0 0;
    cursor: move;
}

.widget .filterwindow {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 1.0;
    color: #fff;
    background-color: rgba(10, 17, 25, 0.6);
    border: 1px solid #4bb5ec;
    padding: 5px 10px 5px;
    border-radius: 0 0 5px 5px;
}

.widget-urls .head, .widget-urls .filterwindow {
    border-right: 1px solid #4bb5ec;
}

.widget-images .head, .widget-images .filterwindow{
    border-left: 1px solid #4bb5ec;
}

.widget-images .filterwindow, .widget-urls .filterwindow {
    height: 166px;
    border-radius: 0;
}

