
/* for the bildaufbau */
body { visibility: hidden; }

/* no scrollbars for the map */
body { overflow: hidden; }

/* no blue i386 background */
body, #wrap386, #bar386 {
    background-color: #000;
}

/* fix menu position */
.open > .dropdown-menu {
    top: 40px;
}

/* reset i386 contrast */
img {
  -webkit-filter: contrast(100%);
     -moz-filter: contrast(100%);
      -ms-filter: contrast(100%);
       -o-filter: contrast(100%);
          filter: contrast(100%);
}

.filter-images img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.filterwindow {
    white-space: nowrap;
    max-height: 120px;
    overflow: auto;
}

.filter-images .filterwindow {
    max-height: 360px;
}

.filter-urls .filterwindow {
    max-height: 360px;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
}

.widget {
    position: absolute;
}

.widget-dns {
    left: 20px;
    top: 40px;
}

.widget-connections {
    left: 20px;
    top: 120px;
}

.widget-cookies {
    right: 20px;
    top: 40px;
}

.widget-forms {
    right: 20px;
    top: 120px;
}

.widget-passwords {
    right: 20px;
    top: 200px;
}

.widget-urls {
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 200px;
}

.widget-images {
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 200px;
}

.widget .head {
    color: #fff;
    background-color: rgba(255, 255, 0, 0.6);
    border: 1px solid red;
    padding: 5px 10px 5px;
  -webkit-border-radius: 10px 10px 0 0;
     -moz-border-radius: 10px 10px 0 0;
      -ms-border-radius: 10px 10px 0 0;
       -o-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
}

.widget .filterwindow {
    background: orange;
    padding: 5px 10px 5px;
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
      -ms-border-radius: 0 0 10px 10px;
       -o-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}

