
/* for the bildaufbau */
body { visibility: hidden }

/* fix menu position */
.open > .dropdown-menu {
    top: 40px;
}

.filterwindow {
    white-space: pre-wrap;
    word-break: break-all;
}

/* reset i386 contrast */
img {
  -webkit-filter: contrast(100%);
     -moz-filter: contrast(100%);
      -ms-filter: contrast(100%);
       -o-filter: contrast(100%);
          filter: contrast(100%);
}

.filter-images img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.hero-unit {
    max-height: 7em;
    overflow: auto;
}
