
/* for the bildaufbau */
body { visibility: hidden; }

/* no scrollbars for the map */
body { overflow: hidden; }

/* no blue i386 background */
body, #wrap386, #bar386 {
    background-color: #000;
}

/* fix menu position */
.open > .dropdown-menu {
    top: 40px;
}

/* reset i386 contrast */
img {
  -webkit-filter: contrast(100%);
     -moz-filter: contrast(100%);
      -ms-filter: contrast(100%);
       -o-filter: contrast(100%);
          filter: contrast(100%);
}

.filter-images img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.filterwindow {
    white-space: nowrap;
    max-height: 120px;
    overflow: auto;
}

.filter-images .filterwindow {
    max-height: 360px;
}

.filter-urls .filterwindow {
    max-height: 360px;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
}
