
    <hr class="soften">

</div>

    <!-- Footer
    ================================================== -->
    <!--
    <footer class="footer">
      <div class="container">
        <p>Get your own Pravdabox: <a href="http://pravdabox.net" target="_blank">pravdabox.net</a></p>
      </div>
    </footer>
    -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/static/combined.js?v={{ .Version }}"></script>

  </body>
</html>
