
    <hr class="soften">

</div>

    <!-- Footer
    ================================================== -->
    <!--
    <footer class="footer">
      <div class="container">
        <p>Get your own Pravdabox: <a href="http://pravdabox.net" target="_blank">pravdabox.net</a></p>
      </div>
    </footer>
    -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js?v={{ .Version }}"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js?v={{ .Version }}"></script>
    <script type="text/javascript" src="/static/js/jquery.mousewheel.min.js?v={{ .Version }}"></script>
    <script type="text/javascript" src="/static/js/raphael.min.js?v={{ .Version }}"></script>
    <script type="text/javascript" src="/static/js/jquery.mapael.min.js?v={{ .Version }}"></script>
    <script type="text/javascript" src="/static/js/world_countries_miller.min.js?v={{ .Version }}"></script>
    <script type="text/javascript" src="/static/js/pravdabox.js?v={{ .Version }}"></script>

  </body>
</html>
