{{ template "templates/header.html" . }}

<div class="map" data-lat="47.17536" data-long="8.42497">Loading...</div>

<div class="widget widget-dns">
    <div class="head">DNS</div>
    <div class="filterwindow">blubber...</div>
</div>

<div class="widget widget-connections">
    <div class="head">Connections</div>
    <div class="filterwindow">blubber...</div>
</div>

<div class="widget widget-cookies">
    <div class="head">Cookies</div>
    <div class="filterwindow">blubber...</div>
</div>

<div class="widget widget-forms">
    <div class="head">Forms</div>
    <div class="filterwindow">blubber...</div>
</div>

<div class="widget widget-passwords">
    <div class="head">Passwords</div>
    <div class="filterwindow">blubber...</div>
</div>

<div class="widget widget-urls">
    <div class="head">URLs</div>
    <div class="filterwindow">blubber...</div>
</div>

<div class="widget widget-images">
    <div class="head">Images</div>
    <div class="filterwindow">blubber...</div>
</div>

{{ template "templates/footer.html" . }}
