{{ template "templates/header.html" . }}

    <div class="row-fluid">
      <div class="span6">
        <div class="hero-unit filter-dns">
          <h1>DNS</h1>
          <div class="filterwindow"></div>
        </div>
      </div>
      <div class="span4">
        <div class="hero-unit filter-connections">
          <h1>Connections</h1>
          <div class="filterwindow"></div>
        </div>
      </div>
      <div class="span2">
        <div class="hero-unit">
          <h1>Passwords</h1>
          <div class="filterwindow">1234
fubar
anna</div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span7">
        <div class="hero-unit filter-http">
          <h1>HTTP</h1>
          <div class="filterwindow"></div>
        </div>
      </div>
      <div class="span5">
        <div class="hero-unit filter-cookies">
          <h1>Cookies</h1>
          <div class="filterwindow"></div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit filter-images">
          <h1>Images</h1>
          <div class="filterwindow"></div>
        </div>
      </div>
    </div>

{{ template "templates/footer.html" . }}
